.App {
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
  flex-direction: row;
  padding-right: 50px;
  margin-left: 350px;
  align-items: center;
  font-size: calc(20px + 4vmin);
}

body{
  background-color: #282c34;
  color: white;
}

.bigsize{
  margin-top: 50px;
  font-weight: 900;
  color: aqua;
}

.red{
  margin-top: 50px;
  font-size: calc(40px + 8vmin);
  color: red;
}